@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Neue Montreal;
  src: url(/public/fonts/NeueMontreal-Regular.woff) format("truetype");
}

@font-face {
  font-family: Founders_Grotesk_X-Condensed;
  src: url(/public/fonts/FoundersGrotesk-Semibold.ttf) format("truetype");
}
