@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: ftff;
    src: url(/public/fonts/NeueMontreal-Regular.ttf) format("truetype");
  }
  
  @font-face {
    font-family: primer;
    src: url(/public/fonts/FoundersGrotesk-Semibold.ttf)  format("truetype");
  }
